<h2>Pirate</h2>
<p>
  Pirate Name:   <%=@pirate.name%><br>
  Pirate Weight: <%=@pirate.weight%><br>
  Pirate Height: <%=@pirate.height%>
</p>

<h2>Ship 1</h2>
<%@ships.each do |ship|%>
  <p>
    <%=%>
    <%=%>
    <%=%>
  </p>
<%end%>

<h2>Ship 2</h2>
